@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    background-color: black;

}

header {
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: white;
    padding: 20px;
    padding-bottom: 15px;
    border: 1.5px solid darkgrey;
    border-radius: 0px 0px 30px 30px;
    box-shadow: 0px 0px 15px 0px rgba(255, 254, 254, 0.548);
}

#titulo {
    font-family: "Roboto Mono", monospace;
    
}

.cuerpo {
    font-family: "Roboto Mono", monospace;
    color: white;
    text-align: left;
    border: 1.5px solid rgb(5, 119, 15);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 15px 0px rgba(7, 114, 3, 0.548);
    padding: 30px 10px 30px 30px;
    margin-right: 50px;
    margin-top: 100px;
    margin-left: 50px;
}

img {
    display: block;
    width: 15%;
    border-radius: 20px 20px 20px 20px;
    box-shadow: 0px 0px 15px 0px rgba(146, 143, 143, 0.548);
    padding: 0,5px;
    float: right;
    margin-top: -10px;
    margin-right: 40px;
}

b, i {
    color: green;
}

.cuerpo2 {
    font-family: "Roboto Mono", monospace;
    color: white;
    text-align: left;
    border: 1.5px solid rgb(119, 5, 5);
    border-radius: 30px 30px 30px 30px;
    box-shadow: 0px 0px 15px 0px rgba(224, 8, 8, 0.548);
    padding: 30px 10px 30px 30px;
    margin-right: 50px;
    margin-top: 70px;
    margin-left: 50px;
}