@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Poetsen+One&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');


body{
    background-color: black;

}

header 
{
    font-family: "Roboto Mono", monospace;
    text-align: center;
    color: white;
}